@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  outline: none !important;
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  cursor: pointer;
}
h1::before {
  content: '# ';
}
h2::before {
  content: '## ';
}
h3::before {
  content: '### ';
}
h4::before {
  content: '#### ';
}
h5::before {
  content: '##### ';
}
h6::before {
  content: '###### ';
}
