@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

button {
  outline: none !important;
}

hr {
  border-color: #0d1117;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #0d1117;
  }

  hr {
    border-color: #fff;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #6b6b6b;
    border: 3px solid #2c2c2c;
  }

  ::-webkit-scrollbar {
    background-color: #2c2c2c;
    border-radius: 10px;
  }
}
