name: CI

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: ^7

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 14
          cache: 'pnpm'

      - name: Install
        run: pnpm install

      - name: Lint
        run: pnpm lint

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: ^7

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 14
          cache: 'pnpm'

      - name: Install
        run: pnpm install

      - name: Test
        run: pnpm test -- --no-cache --collect-coverage

      - name: Coverage
        uses: codecov/codecov-action@v1
        with:
          directory: ./coverage/
          fail_ci_if_error: true

  build:
    runs-on: ubuntu-latest

    needs: [lint, test]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: ^7

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 14
          cache: 'pnpm'

      - name: Install
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Build docs
        run: |
          cd site
          pnpm install
          pnpm build
          sed -i 's/assets/yup-schema-faker\/assets/' ./dist/index.html
          cd ..
          mv site/dist docs
          git config --global user.email actions@users.noreply.github.com
          git config --global user.name "Action"
          git add docs --force
          git commit -m"docs: update"

      - name: Push changes
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: 'docs'
          force: true

      - uses: JS-DevTools/npm-publish@v1
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          token: ${{ secrets.NPM_TOKEN }}
          package: ./package.json
          tag: latest
          access: public
          dry-run: false
          check-version: true
          greater-version-only: true
